.codemirror-instance {
  position: relative;
  border: 1px solid #224;

  overflow: auto;

  &.light {
    .CodeMirror {
      font-weight: bolder;
      filter: invert() hue-rotate(180deg) saturate(2) brightness(1.2);
    }
    #botones-control {
      * {
        border-color: white;
        color: white;
        filter: brightness(2) saturate(0.8);
      }
    }
  }

  &.minimo-1-pestaña {
    .contenedor-iframe {
      height: 250px;
    }
    .editor-container {
      height: 230px;
    }
    .tabs {
      min-height: 250px !important;
    }
  }

  .boton.ejecutar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: 4px solid black;
    box-sizing: content-box;
    width: 25px;
    padding: 12px;
    aspect-ratio: 1;
    z-index: 1;
  }

  .contenedor-iframe {
    height: 400px;
    iframe {
      border: 1px solid #224;
      width: 100%;
      height: 100%;
    }
  }

  .editor-container {
    position: relative;
    height: 350px;

    .CodeMirror-scroll {
      overflow: hidden !important;
    }

    .CodeMirror:focus-within .CodeMirror-scroll {
      overflow: auto !important;
    }
  }

  .CodeMirror {
    left: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 16px;

    &:not(:focus-within) {
      --m: 50vw;
      min-width: min(300px, var(--m));
      max-width: var(--m);
      filter: brightness(0.4);
    }
  }

  #botones-control {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    scale: 0.8;
    transform-origin: right top;
  }
  .MuiBox-root {
    margin: 0 !important;
    padding: 0 !important;
  }

  .tabs {
    overflow: visible !important;
  }
}
