@each $name,
  $color
    in (github: #2b3137, youtube: #ff0000, telegram: #24a1de, whatsapp: #25d366)
{
  .bg-#{$name} {
    background-color: $color;
  }
}
@each $color
  in (
    white,
    gray,
    lightgray,
    black,
    steelblue,
    skyblue,
    deepskyblue,
    dodgerblue,
    royalblue,
    purple,
    pink,
    hotpink,
    darkorchid,
    red,
    crimson,
    darkred,
    orange,
    yellow,
    khaki
  )
{
  .bg-#{"" + $color} {
    background-color: $color;
  }
  .c-#{"" + $color} {
    color: $color;
  }
}
