.bright-hover-2 {
  transition: filter 0.3s !important;
  &:hover {
    filter: brightness(2);
  }
}

.bright-hover-1-5 {
  transition: filter 0.3s !important;
  &:hover {
    filter: brightness(1.5);
  }
}

.backdrop-bright-hover-2 {
  transition: backdrop-filter 0.3s !important;
  &:hover {
    backdrop-filter: brightness(2);
  }
}
.backdrop-bright-hover-1-5 {
  transition: backdrop-filter 0.3s !important;
  &:hover {
    backdrop-filter: brightness(1.5);
  }
}

.bright-hover-1-2 {
  transition: filter 0.3s !important;
  &:hover {
    filter: brightness(1.2);
  }
}

.filtered{
  --brightness: 1;
  --blur: 0;
  filter: brightness(var(--brightness)) blur(var(--blur));
}

.soft-light{
  mix-blend-mode: soft-light;
}